<header>
    <nav style="height:5%; background-color:beige;">
        <div style="display:flex; flex-direction:row;gap:20px;">
            <li><a href="/">Home</a></li>
            <li><a href="/todos">Todos</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </div>
    </nav>
</header>
